$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #3e3d3d;
$color__text-input-focus: #3e3d3d;
$color__link: #ffffff; //royalblue
$color__link-visited: #ffffff; //purple
$color__link-hover: #3e3d3d; //midnightblue
$color__text-main: #3e3d3d;

$color__border-button: #ffffff;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #3e3d3d;
$color__border-abbr: #3e3d3d;
