
@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);


// stylelint-disable value-keyword-case
$font__main: "Alef Hebrew", “Helvetica Neue”, Helvetica, Arial, sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font_df: "Alef Hebrew", sans-serif;