.btn {
  direction: rtl;
  padding: 3px 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-family: $font_df;
  font-size: 2rem;
  font-weight: 700;
  color: $color__link;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  display: block;
  cursor: pointer;
  transition: all 0.5s;
  text-transform: none;
  text-decoration: none;
  white-space: nowrap;
  min-width: 165px;
  position: relative;

  &:hover {
    transition: all 0.5s;
    color: $color__link;
  }

  &:visited {
    color: #ffffff;
  }

  &-alt {
    transform: skew(-6deg);
    padding: 9px 25px 8px 10px;
    font-size: 1.5rem;
    display: inline-block;
    text-shadow: 3px 3px 10px #000;
    direction: ltr;
  }
  background: rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .btn {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 32px;
    border: 1px solid #ffffff;
    padding: 5px 15px 5px 10px;

    &.btn-alt {
      transform: none;
      background: rgba(0, 0, 0, 0.1);
      width: 100%;
      margin-top: 20px;
    }
  }
}
