.prev span,
.next span {
  display: none;
}

.next {
  background: url(./img/icons/prev.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px !important;
  height: 30px !important;
  display: block;
  cursor: pointer;
}

.prev {
  background: url(./img/icons/next.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px !important;
  height: 30px !important;
  display: block;
  cursor: pointer;
}
.carousel-3d-slider {
  display: flex;
  justify-content: center;
  margin: auto;
}

.carousel-3d-slide {
  border: none;
  clip-path: polygon(7.5% 0, 100% 0%, 92.5% 100%, 0% 100%);
  background: #fff !important;
  border: none !important;
  text-align: center;

  .poligon-child {
    clip-path: polygon(7.5% 0, 100% 0%, 92.5% 100%, 0% 100%);
    display: block;
    margin: 17px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 34px);
    height: calc(100% - 34px);
    background: transparent;
    z-index: 11;
    text-align: center;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    top: 10px;
    max-height: 100%;
  }
}

#featured__slider {
  margin-top: -95px;
}

.slick-medium {
  max-width: 1050px;
  width: 100%;
  margin: -30px auto 0;
  direction: ltr;

  .carousel-3d-slide {
    height: 260px;
    clip-path: polygon(4.45% 0, 100% 0%, 95.55% 100%, 0% 100%);

    .poligon-child {
      clip-path: polygon(4.45% 0, 100% 0%, 95.55% 100%, 0% 100%);
    }
  }
}

.slick-small {
  width: 100%;
  margin: auto;
  direction: ltr;
  margin: 0 auto;
  max-width: 1050px;

  .carousel-3d-slide {
    height: 300px;
    clip-path: polygon(7.5% 0, 100% 0%, 92.5% 100%, 0% 100%);

    .poligon-child {
      clip-path: polygon(7.5% 0, 100% 0%, 92.5% 100%, 0% 100%);
    }

    &.current {
      max-width: 450px;
    }
  }
}

#shop__slider.slick-small {
  .carousel-3d-slide {
    height: 300px;
    clip-path: polygon(5.5% 0, 100% 0%, 95.5% 100%, 0% 100%);

    .poligon-child {
      clip-path: polygon(5.5% 0, 100% 0%, 95.5% 100%, 0% 100%);
    }
    &.current {
      clip-path: polygon(7.5% 0, 100% 0%, 92.5% 100%, 0% 100%);

      .poligon-child {
        clip-path: polygon(7.5% 0, 100% 0%, 92.5% 100%, 0% 100%);
      }
    }
  }
}

@media (min-width: 768px) {
  #featured__slider {
    margin-top: -55px;
  }
}

@media (max-width: 768px) {
  .carousel-3d-slider {
    perspective: none !important;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  #featured__slider {
    margin-top: -30px;
  }

  .carousel-3d-slide {
    max-width: 100%;
    clip-path: none !important;
    .poligon-child {
      clip-path: none !important;
    }
  }

  #films__slider {
    margin: -17px auto 0;
    .carousel-3d-slider {
      max-width: 580px;
      width: 100% !important;
    }
  }
  .section__films .btn-alt,
  .section__eat .btn-alt,
  .section__eat .btn-alt {
    margin-top: -15px;
  }

  .slick-medium .carousel-3d-slide.current {
    max-width: 500px;
    width: 100% !important;
  }

  .slick-small {
    .carousel-3d-slide {
      &.current {
        max-width: 500px;
        width: 100% !important;
      }

      .poligon-child img {
        width: auto;
        height: calc(100% - 5px);
        margin: auto;
      }
    }
  }

  .section__button {
    margin: 46px auto 0;
    max-width: 320px;
    display: inline-block;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  #featured__slider {
    height: 500px;
    max-width: 580px;
    margin: -35px auto;
  }

  #films__slider {
    height: 300px;
  }

  #eat__slider,
  #shop__slider {
    height: 500px;
  }
}

@media (max-width: 640px) {
  .carousel-3d-slider {
    max-width: calc(100% - 80px) !important;

    .slick-small .carousel-3d-slide,
    .slick-small .carousel-3d-slide.current {
      transition: all 0.5s;
      width: 100% !important;
    }
  }

  .prev {
    left: -5px !important;
    top: 15px;
  }

  .next {
    right: -5px !important;
    top: 15px;
  }
}
