/*        film page         */

.main__content{
	font-size: 2.5rem;
	color: inherit;
	max-width: 1600px;
	margin: auto;
	padding: 35px;
}

.col-c {
	max-width: 33.3%;
	width: 100%;
	margin: auto auto 0;
	.movies__title{
		// margin-right: -15px;

	}
}

.row__bg--white{
	background: #fbfbfb;
	height: 143px;
}

.section__movies{
	padding-top: 0;
}

.movies{
	&__box{
		max-width: 33.3%;
		height: 100px;
		text-align: center;
	}
	&__container{
		max-width: 1755px;
		width: 100%;
		margin: auto;
	
	}
	&__search, 
	&__title{
		width: 250px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: -15px;
		background-color: transparent;
		transition: all 0.5s;
		position: relative;
		
		&.active,
		&.active a:visited{
			transition: all 0.5s;
			background-color: #fdb3c2;
			color: #030303;
			font-size: 2.75rem;
			font-family: inherit;
			font-weight: 400;
		}
	}
	&__link, input#movie{
		font-size: 2.5rem;
		color: #030303;
		text-decoration: none;
	}
	&__content{
		padding: 150px 0 45px;	
	}

	&__info{
		display: flex;
		width: 66.6%;	
		padding-right: 55px;
		flex-direction: column;
		justify-content: start;
		align-items: flex-start;
		&--header,
		&--footer{
			width: 100%;
		}
		&--except,
		&--ecept p{
			font-size: 1.75rem;
			margin: 0;
			padding: 0;
			display: block;
			margin-block-start: 0!important;
			margin-block-end: 0!important;
			margin-inline-start: 0!important;
			margin-inline-end: 0!important;
		}

		&--footer {
			display: flex;
			justify-content: center;
			align-content: center;
		}

		.movies__title{
			width: 100%;
			color: #535353;
			font-size: 2.75rem;
			color: #535353;
			font-weight: 700;
			display: flex;
			justify-content: flex-start;	
		}
	}
	&__list{
		width: 100%;
		margin: auto;
		padding:10px 0 0 0 ; 		
		list-style: none;
	}
	&__item{
		margin-bottom: 70px;
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
		background-color: #fbf7f7;
		padding: 50px;
		min-height: 419px;
		width: 100%;
	}
	&__item--wrap{
		
		height: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;


	}
	&__img{
		max-width: 560px;
		width: 100%;
		margin: 0 auto;
		height: auto;
		display: block;
		height: 316px;
		overflow: hidden;

		img{
			width: 100%;
			width: 100%;
			height: 100%;
			object-fit: cover;
			
		}
	}
}


.content__inline--start {
	position: relative;
	max-width: 990px;
	width: 52.5%;
	margin-right: -15px;
	&:before{
		content: '';
		position: absolute;
		top: 0px;
		left: -37px;
		width: 100%;
		height: 100%;
		display: block;
		z-index: 1;
		background-color: #07bbe1;
	}
	img{
		position: relative;
		z-index: 2;
		top: -50px;
	}
	
}
.content__inline--end {
	margin-left: -15px;
	position: relative;
	max-width: 700px;
	height: 363px;
	display: flex;
    justify-content: center;
    align-items: center;
	&::before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: #f9d037;
	}
	img{
		padding-right: 60px;
		padding-left: 25px;
	}
}
.movies__img iframe {
    max-width: 100%;
    height: 100%;
}
form {
    width: 100%;
}

.info__inline--start{
	color: #535353;
	font-size: 2.5rem;
}
.info__inline--end{
	margin: auto;
	.btn{
		background: #535353;
		color: #fbf7f7;
		padding: 0px 25px;
		border-radius: 10px;
		font-size: 2.5rem;
		font-weight: 400;
		border-radius: 10px;
		display: block;
		transform: none;
	}
}

.pigination{
    max-width: 500px;
    margin: auto;
    justify-content: center;
    align-items: center;

	.page-numbers {
		width: 67px;
		color: #fbf7f7;
		height: 73px;
		background: #535353;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		font-size: 2rem;
		outline: none;
		border: none;
		margin: 0 13px;
		
	}
	.next, .prev{
		background: transparent;
		margin: 0 13px;
		&.page-numbers {
			background: transparent;
			color: #535353;
			display: table;
			margin: 13px;

		}

	}
}
.container-fluid.result {
    margin-top: 50px;
}
.movies__search {
    max-width: 90%;
}
input#movie,
input#movie:focus,
input#movie:active {
			outline: none;
    margin-right: 10px;
}
input:-internal-autofill-selected {
	background-color: transparent!important;
}
