
/*       footer      */
footer {
	p{
		margin: 0;
		font-size: 1.5rem;
		line-height: 1.25;	
	}

	.block__background-left {
	    top: -20%;
	}

	&#colophon {
	}    margin-top: 85px;
}

.footer{

	&__content {
		z-index: 3;
		position: relative;
	}

	&__info{
		margin-top: 118px;
		padding-top: 20px;
	}

	h2{
		font-size: 3rem;
		direction: rtl;
		margin: 0 auto 5px;
	}
	
	&__container {
    	max-width: 1220px;
    	margin: auto;
	}
}
.copyright{

	p{
	    direction: ltr;
	    text-align: center;
	    font-size: 1rem;
	}

    h2{
    	margin-bottom: 0;
    	margin: 10px auto;
    	display: flex;
    	font-size: 3rem;
	    justify-content: center;
	    align-items: center;
	    text-align: center;
	
    }
}

@media (max-width: 768px) {

   footer {
        margin-top: 55px;
    }

    .footer__info {
    	margin-top: 70px;
	}

	h2, .h2 {
    	font-size: 2.5rem;
    }

    ul.brand__list {
	    background: #fff;
	    padding: 15px;
	}
}

@media (max-width: 640px) {

	.footer__container {
	    max-width: calc(100% - 40px);
	}
	#last__title1 {
	    text-decoration: none;
	    outline: none;
	}

}