/*      forms    */
.wpcf7-form {

	.form__inner{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		background: #ffffff;
		overflow: hidden;

		h2 {
			font-size: 3.5rem;
			direction: rtl;
			margin: 0;
		}
	}

	.input__group-row {
	    display: flex;
	    flex-wrap: wrap;
	    flex-direction: row;
	    direction: rtl;
	    width: 100%;
	    justify-content: space-between;
	    align-items: center;
	    margin: 20px 0 10px;

	    label {
		    direction: rtl;
		    font-size: 1.75rem;
		    font-family: $font_df;
		    font-weight: 400;

		    input{
		    	width: 100%;
		    	direction: rtl;
		    	max-width: 160px;
		    	border: 1px solid transparent;
		    	border-bottom: 1px solid #000000;

		    }

		    input[type="checkbox"],  
		    input[type="radio"] {

				border: 2px solid #000000;
				width: 20px;
			}

		}
	}

	.wpcf7-form-control.wpcf7-submit{
		padding: 10px 36px;
    	position: relative;
    	top: -5px;
		font-size: 2.5rem;
		font-family: $font_df;
		font-weight: 700;
		color: #ffffff;
		margin: 0!important;
		background: rgba(10,186,225,1);
		background: -moz-linear-gradient(left, rgba(10,186,225,1) 0%, rgba(253,179,193,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,186,225,1)), color-stop(100%, rgba(253,179,193,1)));
		background: -webkit-linear-gradient(left, rgba(10,186,225,1) 0%, rgba(253,179,193,1) 100%);
		background: -o-linear-gradient(left, rgba(10,186,225,1) 0%, rgba(253,179,193,1) 100%);
		background: -ms-linear-gradient(left, rgba(10,186,225,1) 0%, rgba(253,179,193,1) 100%);
		background: linear-gradient(to right, rgba(10,186,225,1) 0%, rgba(253,179,193,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0abae1', endColorstr='#fdb3c1', GradientType=1 );
	}

	.ajax-loader{
		position: absolute!important;
		left: 200px;
	}

	span.wpcf7-list-item{
		margin: 0 !important;
	}

	.wpcf7-form-control.wpcf7-submit {
	    margin-left: 0;
		border-radius: 30px;
	}
}

@media (max-width: 768px) {

 	.wpcf7-form .form__inner h2 {
	    font-size: 2.8rem;
	    margin-bottom: 26px;
	}

 	.wpcf7-form {

	 	.input__group-row label{

	 		input{
		    	border:none;
		    	max-width: 100%!important	;	
			}
		}	
		
		input.wpcf7-form-control.wpcf7-submit {
		    border-radius: 0!important;
		    background: rgba(0,0,0,.5)!important;
		    border: 0;
		    padding: 5px 40px!important;
		}

		.wpcf7-label {
			display: none;
			
		}

		.input__group-row label{
			width: 100%;
			margin: 11px 0;
			text-align: right;
		}

		input.wpcf7-form-control.wpcf7-text {
		    height: 65px;
		    display: block;
		}
	}

	.wpcf7-form .wpcf7-form-control.wpcf7-submit{
		margin: auto!important;
	}

	.input__group-row:last-child{
		margin-top: -40px;
		padding: 0;
	}

	.wpcf7-form .input__group-row label {
	    font-size: 2rem;
	}
	.wpcf7-form .input__group-row {

	    margin: 0px;
	}
	.input__group-row label:last-child {
	    position: absolute;
	    top: -43px;
	}
}