.site__logo {
  max-width: 330px;
  max-height: 70px;
  position: relative;
  width: 24%;
  height: 100%;
  margin: auto;
  a {
    display: block;
    width: 100%;
    position: absolute;
  }
  img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -30px;
    right: 15px;
  }
}

.site__logo-mobile img {
  width: 100%;
  position: absolute;
  bottom: 5px;
}

@media (max-width: 768px) {
  footer {
    margin-top: 70px;
  }
  #site-navigation {
    right: 0;
  }

  .site__logo__mobile {
    height: 90px;
    width: 100%;
    max-width: 135px;
    margin: 10px auto;
    z-index: 100;
    position: relative;
    a {
      position: relative;

      img {
        position: relative;
        right: 0;
        bottom: -20px;
      }
    }
  }
  .site__logo.site__logo__mobile {
    right: -20px !important;
  }
}
