
@media (min-width: 1025px) {

	.banner__iframe-bg iframe {
	   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
	}

}
@media (max-width: 991px) {

	header .brand__list{
  	    display: none;
    }


    .movies__content{
        flex-wrap: wrap;
        padding: 100px 0 25px;
        height: 700px;
    
    }
    .content__inline--start {
        width: 100%;
        margin-bottom: 50px;
    }
    .movies__item--wrap{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .movies__info{
        width: 100%;
        padding: 0;
        margin: 0;
        .movies__title{
            margin: auto;
            padding: 30px 10px 10px;
            text-align: center;
            font-weight: 700;
            justify-content: center;

        }
    }
    .content__inline--end {
        position: relative;
        top: -148px;
        z-index: 1;
        max-width: 420px;
        height: 230px;
        margin-right: auto;
    }
    .block__title{
        text-align: center;
    }
    .movies__item{
        padding: 18px 37px 20px;
    }
    .movies__info--footer {
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }

}
@media (max-width: 768px) {

	section{
		padding: 20px 0;
	}
	.main__content {
		background: rgba(255,255,255,0.8);
		margin: 60px 38px;
        box-shadow: 1px 1px 18px rgba(0,0,0,0.48);
        
	}
	.col-c {
        max-width: 100%;
        &>.row{
            justify-content: center;
        }
    }
    .movies__box {
        max-width: 50%;
    }
    .film__pic {
        right: -15px;
    }
	#site-navigation {
	    overflow: auto;
	    height: calc(100vh - 90px);
	    align-content: flex-start;
	}

	.top__bar {
	    position: absolute;
	    height: 70px;
	}

	.brand__item{
		margin: 0 auto;
	}

	.last-title{
		display: block;
		cursor: pointer;
  	}

	.header{
		&__nav{
			background: transparent;
			position: absolute;
			transition: all 0.5s;	

			&.show-menu {
				width: 100vw;
				height: 100vh;
			    transition: width 0.5s;
			    background: #ac4555;
			    position: fixed;
			    z-index: 100;
			    background: #ac4555;	
			    transition: all 0.5s;	
			

				#header-right,
				#header-left{
					display: block;
				    transition: all 0.5s;	
				}
			}
		}

		&__banner-wrap{
			overflow: hidden;
		}

		&__banner {
	    	clip-path: none;
		}
	}

	video#video-h-banner {
	    position: absolute;
	    top: 0; 
	    width: auto;
	    height: 100%;
	}

	.banner{
		&__iframe-bg iframe {
		    top: 0;
		    right: auto;
		    min-height: 100vh;
		    left: auto;
		    transform: translate(0, 0);
		    border: none !important;
		}

	    &__row {
	        padding-top: 115px;
		    max-width: 520px;
		    margin: auto;
		    line-height: 1.25;
		    height:815px;
		    justify-content: flex-start;

		    h1{
		    	margin: 0 50px;
		    	line-height: 7.5rem;
		    }
		}
	}

	.buttons__list {
	    margin-top: 38px;
	
		.button__item {
		    width: 100%;
		    margin: 15px 10px 9px;
		    
		    .btn {
			    direction: rtl;
			    padding: 19px 40px;
			    border: 1px solid #fff;
			    font-weight: 400!important;
		    }
		}
	}

	.section__featured{
		margin: auto 0 ;
		padding-top: 8px;

	}

	.films__slider{

		.section__title.section__title-center {
		    padding: 5px 0 7px;
		}
		
		.section__header {
		    margin-top: 0;
		}
	}

	.section__eat, .section__shop {
    	padding-top: 15px
    }

    .section__eat .section__title.section__title-center {
	    padding-bottom: 20px;
	}

	.section__shop .section__button {
	    margin: 9px auto 0!important;
	}

	.box{
		border-radius: 3px;  
	    max-width: 500px;
	    margin: auto;
	
		&__shadow {

		    display: none;
		}
		&__white {
	 
		    padding: 40px 20px 50px;
		}
		&__bordered {
	        padding: 0;
	       	max-width: 500px;
		    margin: auto;
	    }
	    &__transparent{
		    border-radius: 3px;  
		    max-width: 500px;
		    margin: auto;
		}
	}

	.section__eat .section__header {
	    padding-top: 0;
	}

	#shop__slider.slick-small {
	    margin-top: -30px;
    }
    
	.box__white {
	    background: #f9d037;

	}

	.wpcf7-form .form__inner{
		background: transparent;
		text-align: center;
	}

 	.copyright {
 		display: none;
     }
     .movies__img{
         height: 280px;
     }

 	.video-box {
		position: relative;
		overflow: hidden;  
		min-height: 900px;
		height: 100vh;
    }
    .info__inline--end .btn.btn-alt{
        border-radius: 0;
        padding: 6px 20px;
        width: 100%;

    }
    .section__button {
        margin: 10px auto!important;
        justify-content: center;
        display: flex;
    }
}

@media (max-width: 640px) {

    .movies__content {
        height: 650px;
    }
	section.section__featured, section.films__slider, section.section__eat, section.section__eat{
	    min-height: 100%!important;
	} 
}
@media (max-width: 480px) {
    html{
        font-size: 10px;
    }
    .movies__item, .main__content {
        padding: 15px;
    }
    .info__inline--end .btn{
        font-size: 2rem;
    }
}