#site-navigation {
    margin: 0;
}
.menu {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
   	justify-content: flex-end;

	&__right{
		padding-right: 15px;
	}

	.menu-item{
		margin: 1.25rem;

		&:first-child{
			margin-right: 0;
		}

		a{
			color: #3e3d3d;
			font-family: $font_df;
			font-weight: 400;
			font-size: 2.5rem;
			text-transform: none;
			text-decoration: none;
			white-space: nowrap;
		}
	}

	&__left{

		.menu-item:last-child {
		    margin-left: 0;
		}
	}
}

.nav__img-close {
    display: none;
    width: 30px;
	height: 30px;
	outline:none;
	&:focus,
	&:active,
	&:hover{
		outline: none;
	}
}

@media (max-width: 1200px) {

 	.header__nav .main-navigation ul {
	    display: none;
	}
}

@media (max-width: 768px) {

 	.menu-item a{
 		color: #f9f4f4!important;
 		text-align: center; 
 	}
 
	.menu-toggle {
	    border-color: transparent!important;
	    background: transparent;
	    position: absolute;
		width: 50px;
		height: 30px;
		top: 31px;
		right: 25px;
		z-index: 10;
	    margin: 0;
	    padding: 0;	
	    outline:none;

		&:active,
		&:focus,
		&:hover{
			outline:none;
		}
	}

	.menu__righ, .menu__left {
	    width: 100%;
	    left: 0;
	    right: 0;
	    width: 100%;
	    position: relative;
    }

    .menu__righ{
    	top: 20px;
    } 
    
    .menu__left {
    	top: 0px;
    }
}
