header,
section,
footer {
  position: relative;
}

section {
  padding: 40px 0;
}

img {
  width: 100%;
}
a:visited {
  color: #3e3d3d;
}
header#masthead {
  min-height: 121px;
}

.site {
  position: relative;
  overflow: hidden;
}

#site-navigation {
  direction: rtl;
  margin: 0;
}

.page__wrapper {
  background: url(./img/background/home_bg.jpg);
  background-repeat: no-repeat !important;
  background-position: center center;
  background-size: cover !important;
  width: 100%;
  min-height: 100vh;
  position: relative;
  max-width: 100vw;
  background-attachment: initial !important;
  overflow: hidden;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.top__bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 150px;
  width: 100%;
  padding-bottom: 0.75rem;

  .brands {
    margin-top: 20px;
  }
}

.search {
  display: flex;
  justify-content: flex-end;
}

.brand {
  &__list {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: right;
    align-items: center;

    .section__title {
      display: block;
    }
  }

  &__item {
    margin: 0 0.75rem;

    &:first-child {
      margin-right: 0;
    }
  }
}

.header {
  &__nav {
    background: #ffffff;
    height: 96px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__banner-wrap {
    width: 100vw;
    position: relative;
    z-index: 1;
  }

  &__banner {
    // min-height: 895px;
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    clip-path: ellipse(108% 100% at top);
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

iframe {
  max-width: none;
}

.banner__iframe-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  min-height: 850px;
  pointer-events: none;
  overflow: hidden;

  iframe {
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border: none !important;
  }
}

video#video-h-banner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: -56px;
  width: 100vw;
  height: auto;
}

.video-box iframe {
  position: absolute;
  top: 0px;
  left: 0;
  width: 0;
  height: 0;
  z-index: -1;
}

.box__shadow {
  content: "";
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom-left-radius: 40% 90px;
  border-bottom-right-radius: 40% 90px;
  background: rgba(255, 255, 255, 0.36);
  box-shadow: 20px 20px 96px rgba(255, 255, 255, 0.69);
  z-index: -1;
}

.overlay {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
  }
}

.banner__row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: 300px;
  z-index: 10;

  h1 {
    margin-bottom: 0;
  }
}

.buttons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0 auto 62px;
  padding: 0;
  position: relative;
  z-index: 20;

  .button__item {
    margin: 0.5rem 1rem 1.75rem;
  }
}

.section__button {
  direction: rtl;
  text-align: left;
  margin: 8px 33.5%;
}

.block__background {
  &-left {
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0;
  }

  &-right {
    position: absolute;
    right: 0;
    bottom: 23%;
    z-index: -1;
    margin-right: -125px;

    &.block__background-top {
      top: 55%;
      right: 57px;
    }
  }

  &-top {
    top: 50%;
  }
}

.section__featured {
  direction: ltr;
  max-width: 1720px;
  min-height: 720px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 0;

  .section__header {
    position: relative;
    top: 15px;
    right: -4;
  }

  .section__title {
    max-width: 1600px;
  }

  .section__button {
    margin: 10px 30.9%;
  }
}

// .films__slider {
//     direction: ltr;
//     padding-bottom:20px;
//     min-height: 540px;

// 	.section__header {
// 	    margin-top: 70px;
// 	}

// 	.section__button {
// 	    direction: rtl;
// 	    text-align: right;
// 	    margin: 17px 34%;

// 	    .btn{
// 	    	min-width: 200px;
// 	    }
// 	}
// }
.section__films iframe {
  max-width: 100%;
  height: 100%;
}
.section__title-center {
  max-width: 623px;
  margin: 0 auto;
  font-size: 54px;
}

.section__eat {
  padding-bottom: 20px;

  .section__header {
    padding-top: 25px;
  }
}

#eat__slider {
  margin-top: -36px;
}

.section__shop {
  padding-top: 16px;
}

.section__eat,
.section__shop {
  .section__title-center {
    max-width: 490px;
    margin-bottom: 24px;
  }
}

#shop__slider.slick-small {
  margin-top: -25px;
}

.section__eat .section__button,
.section__shop .section__button {
  margin: 10px 37.75%;
}
.section_shop .section__button {
  margin: 13px 37.75%;
}
.maping {
  max-height: 220px;
  max-width: 960px;
  width: 100%;
  overflow: hidden;
  margin: 20px auto 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

.box {
  border-radius: 30px;
  overflow: hidden;

  &__bordered {
    padding: 10px;
    background: rgba(253, 179, 193, 1);
    background: -moz-linear-gradient(
      left,
      rgba(253, 179, 193, 1) 0%,
      rgba(10, 186, 225, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(253, 179, 193, 1)),
      color-stop(100%, rgba(10, 186, 225, 1))
    );
    background: -webkit-linear-gradient(
      left,
      rgba(253, 179, 193, 1) 0%,
      rgba(10, 186, 225, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(253, 179, 193, 1) 0%,
      rgba(10, 186, 225, 1) 100%
    );
    background: -ms-linear-gradient(
      left,
      rgba(253, 179, 193, 1) 0%,
      rgba(10, 186, 225, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(253, 179, 193, 1) 0%,
      rgba(10, 186, 225, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb3c1', endColorstr='#0abae1', GradientType=1 );
  }

  &__white {
    background: #ffffff;
    width: 100%;
    height: 100%;
    padding: 20px 40px 10px;
  }

  &__transparent {
    background: rgba(255, 255, 255, 0.58);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
    text-align: center;
    display: flex;
    border-radius: 70px;
    justify-content: center;
  }
}
