.social{

	&__list {
	    display: flex;
	    flex-wrap: wrap;
	    margin: 15px auto 15px;
	    justify-content: center;
	    align-items: center;
	    width: 100%;
	    padding: 0;
	    list-style: none;
	}

	&__item{
		margin: 0 15px;
	}
	
	&__link{	
		width: 60px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}