::placeholder {
  color: #3e3d3d;
  font-size: 1em;
}

#searchform {
    max-width: 107px;
    position: relative;
    height: 60px;
    top: 15px;
}

#searchsubmit, #submit-movie{
    background-color: transparent;
    background: url(./img/icons/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    position: absolute;
    right: -35px;
    top: 0;
    bottom: 0;
    text-indent: -100px;
    border: none;
    margin: auto;
    outline: none;

    &:active,
    &:focus,
    &:hover{
        outline: none;
    }
}

input#s, input#movie{
    background: transparent!important;
    max-width: 100%; 
    border: none;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

input#movie{
    color: #030303;
    font-size: 2.75rem;
    font-family: inherit;
    font-weight: 400;
}
input#movie::placeholder{
    color: #030303;
    font-weight: 400;
    font-size: 2.75rem;
    font-family: inherit;
}

@media (max-width: 768px) {

    input#searchsubmit {
        background: url(./img/icons/search-w.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        left: 5px;
        display: block;
        right: auto;
        z-index: 10;
        width: 30px;
        height: 30px;
    }

    input#s{
        margin-top: 10px;

    }
}