h1, .title__h1{
	font-size: 6.8125rem;
	font-family: $font_df;
	font-weight: 700;
	direction: rtl;
	color: #ffffff;
	position: relative;
	z-index: 2;
	text-align: center;
}
h2, .h2{

	font-size: 3rem;
	margin: 0.5rem 0 0.75rem;
}
.block__title{
	font-size: 4rem;
	margin: 0.5rem 0 0.75rem;
}

h3, .h3{
	margin: 0;

}

.shadow{
	font: inherit;
	position: absolute;
	top: 5px;
	right: 0;
	left: 8px;
	bottom: 0;
	color: rgba(255,255,255,0.2);
	z-index: 1;	
	-webkit-text-fill-color: rgba(255,255,255,0.2); 
  	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: #ffffff;	
}

.section__title {
    direction: rtl;
    margin: 0;
    padding: 0;
	font-family: $font_df;
	font-weight: 700;
	font-size: 4.5rem;
	color: #ffffff;
    font-weight: 700;
    text-shadow: 3px 3px 10px #000;
    padding: 0;
    margin: 0;
    display: block;

    p{
    	padding: 0;
    	margin: 0;
    }   
}

#last__title {
    text-align: center;
    margin: 1rem auto 2.5rem;
    text-decoration: none;
    color:#3e3d3d;
}

@media (max-width: 768px) {

 	.section__title {
 		text-align: center;
 	}
	
	html{
		// font-size: 10px;
	}

	h1, .title__h1 {
	    // font-size: 4.5rem;
	}

	.section__title {
		padding-bottom: 20px;	}
}

hr.hr {
    width: 138px;
    margin: 0.5rem auto 1rem;
}

@media (max-width: 768px) {

	html{
		font-size: 12px;
	}
}